.linkButton {
  color: #47B04B;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: transparent !important;
  }
}