{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true,
    "phantomjs": true
  },
  "settings": {
     "import/resolver": "webpack"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": ["error", 4, {
      "SwitchCase": 1
    }],
    "no-param-reassign": 0,
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "ignore",
      "exports": "ignore",
      "functions": "never"
    }],
    "import/prefer-default-export": 1,
    "max-len": ["error", {"code": 120}],
    "no-unused-vars": ["warn", {
      "argsIgnorePattern": "(dispatch|state|ownProps|reset|handleSubmit|resetForm|submitting|reject|resolve)"
    }],
    "no-plusplus": 0,
    "object-curly-spacing": 0,
    "object-shorthand": 1,
    "no-console": 0,
    "arrow-body-style": 0,
    "no-bitwise": 0
  },
  "plugins": [
    "react"
  ]
}
