.columnName {
  text-transform: uppercase;
}

.amountColumn {
  padding-left: 0 !important;
  width: 72px;
}

.columnArrow {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 24px;
}