.columnName {
  text-transform: uppercase;
  font-size: 11px !important;
  font-weight: 500 !important;
  letter-spacing: 1px;
  line-height: 16px;
}

.amountColumn {
  padding-left: 0 !important;
  width: 100px;
}

.columnArrow {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 24px;
}