.container {
  max-width: 580px;
  //width: auto;
  border-radius: 1px;
  background-color: #F9F2F2;
  color: #CF3B3B;
  font-size: 14px;
  line-height: 22px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.header {
  font-weight: bold;
}

.text {
  padding-bottom: 10px;
}

