.title {
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.closeButton {
    float: right;
}

.tokens {
  margin-top: 5px;
  margin-bottom: 5px;
}

.addToken {
  margin-top: 20px;
  margin-bottom: 5px;
}