.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.closeButton {
  float: right;
  width: 15px;
  height: 15px;
}

.tokens {
  margin-top: 5px;
  margin-bottom: 5px;
}

.addToken {
  margin-top: 20px;
  margin-bottom: 5px;
}