.container {
  padding: 30px 30px 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.filter {
  margin-left: 40px;
  max-width: 186px;
}

.headerMain {
  display: flex;
  align-items: center;
}

.search {
  max-height: 40px;
}