.table {
  font-size: 14px;
}

.tableRow {
  height: 21.5px;
}

.tableColumn {
  //padding-left: 0 !important;
  //font-size: 14px !important;
  //height: auto !important;
  //max-width: 40px !important;
}

.symbol {
  font-weight: 500;
}
