.success {
  height: 30px;
  width: 81px;
  border: 1px solid #CDEACE;
  border-radius: 1px;
  color: #47B04B;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.queue {
  box-sizing: border-box;
  height: 30px;
  width: 117px;
  border: 1px solid #DDDDDD;
  border-radius: 1px;
  color: #747474;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
