.container {
    height: 230px;
    width: 545px;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
}

.addressLabel {
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
}

.addressValue {
    line-height: 24px;
    font-size: 12px;
}

.privateLabel {
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
}

.privateValue {
    line-height: 24px;
    text-align: right;
    font-size: 12px;
}

.title {
    background-color: #000000;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.main {
    padding-left: 16px;
    padding-right: 16px;
}

.addressBlock {
    display: flex;
    justify-content: space-between;
}

.qrCodesBlock {
    display: flex;
    justify-content: space-between;
}

.privateBlock {
    display: flex;
}

.notes {
    background-color: #F6F6F6;
    flex-grow: 1;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.notesCaption {
    opacity: 0.5;
    color: #191919;
    font-size: 9px;
    line-height: 24px;
}

.logoContainer {
    min-width: 33px;
}

.logoIcon {
    transform: rotate(-90deg);
}
