.tokensDivider {
  background-color: #F5F5F5;
  height: 2px;
  width: 100%;
  border: none;
}
.identityIconContainer {
  display: flex;
  align-items: center;
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}