.header {
  background: url('./ledger.png');
  background-size: 600px 188px;
  width: 600px;
  height: 188px;
}

.content {
  padding-left: 30px;
  padding-top: 14px;

  ol{
    counter-reset: mcounter;
    padding-left: 0;
  }
  li{
    list-style: none;
  }

  li:before {
    counter-increment: mcounter;
    content: counter(mcounter) ".";
    color: #747474;
    font-size: 14px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
  }
}

.title {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #191919;
  font-size: 22px;
  line-height: 24px;
}

.buyLedger {
  color: #747474;
  font-size: 14px;
  line-height: 22px;
}

.instructions {
  color: #191919;
  font-size: 14px;
  line-height: 22px;
}

.dialogBody {
  padding: 0 !important;
}

.dialogContent {
  max-width: 600px !important;
}

.dialogPaper {
  background-color: white !important;
}