
.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.subTitle {
  font-size: 14px;
  line-height: 22px;
}

.keyTitle {
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.key {
  font-size: 14px;
  line-height: 22px;
  overflow-wrap: break-word;
}

.privKeyContainer {
  margin-left: 30px;
  overflow: hidden;
}

.privKeyColumn {
  align-items: flex-start !important;
}