body {
  font-family: "Poppins Regular", Roboto, serif;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("fonts/Poppins-Medium.ttf");
}
