.container {
  display: flex;
}

.title {
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.note {
  margin-top: 16px;
  color: #747474;
  font-size: 14px;
  line-height: 22px;
}

.headerText {
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.depositOptionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}