.tokenItemContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addressInput {
  margin-left: 4px;
  min-width: 390px;
  font-size: 16px;
}

.symbolInput {
  max-width: 80px;
  font-size: 16px;
}